html, body  {
 margin: 0 0;
 padding-top: 2em;
}
.container {
  height: 100%;
  width: 100%;
}
.header {
  height: 20%;
  width: 100%;
  background: red;
}

.img-logo {
  height: 80px;
  width: 120px;
}

.img_left {
  height: 100%;
  width: 20%;
}

.header-train-image{
  width:100%;
	height:40%;

}

.goosncf-header{
  height:10%;	
	font-size:1.5em;
}

.goosncf-container{
  height:50%;	
}


.gooscnf-page-header {
  text-align:center;
}
.gooscnf-search-form {

}
.gooscnf-search-input {
  height: 10%;
  width: 50%;
}


.gooscnf-navbar-static {
	z-index: 2;
	position: static;
}

.goosncf-input-style{
	padding-top:1em;
}

.goosncf-search-button{
  width: 100%;
}

#footer {
        margin-top: 1em;
        padding-top:1em;
				height: 30px;
}

.container .credit {
				margin: 0 0;
}

.center-div {
  margin:0 auto;
	width:80%;

}
