html, body  {
 margin: 0 0;
 padding: 0 0;
}
.container {
  height: 100%;
  width: 100%;
}
.header {
  height: 20%;
  width: 100%;
  background: red;
}

.img-logo {
  height: 80px;
  width: 120px;
}

nav ul {
  float: right;
}

.header-train-image{
  width:100%;
	height:30%;

}

.goosncf-header{
  height:20%;	
	font-size:1.5em;
}

.gooscnf-page-header {
  text-align:center;
}
