<div class="container data-container" ng-controller="DataShowCtrl">
				<div class="row">
								<style>
												#map { height: 180px; }	
								
								</style>
								<div class="col-md-3">
												<div class="">
													<img ng-src="public/images/rails.jpg">
												</div>
								</div>

								<div class="col-md-9">

										{{ hello }}
										<div >
														<ul ng-repeat="info in infos">
																		<li>{{ info }}</li>
														</ul>
										</div>
										<div id="map"></div>

										<div id="info"></div>
										<iframe src="{{ page | trustAsResourceUrl }} " frameborder="0"></iframe>
						</div>

							</div>
							<script>
							
													
							</script>
 </div>

