<nav class="navbar navbar-default navbar-fixed-top goosncf-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
							<img alt="GooSncfLogo" class="thumbnail img-logo" src="public/images/logo_sncf.jpg"></a>
    </div>
		<ul class="nav navbar-nav navbar-right goosncf-header">
		        <li><a href="/">Home</a></li>
		        <li><a href="/#/search">Rechercher</a></li>
		        <li><a href="/#/about">About</a></li>
		</ul>
  </div>
</nav>
