<div class="container center-div">
				<form action="/#/search" method="GET">
	
 <div class="form-group">
	<label for="search_term">Cherchez votre équipement</label>
  <input id="search_term" name="search_equipment" type="text" class='form-control input-lg' placeholder="Entrez votre équipement...">
 </div>

 <div class="form-group">
	<label for="search_type">Choisir votre type</label>
 	<select id="search_type" name="search_type_category" class='form-control'>
					
					<option value="1">Equipe</option>
					<option value="2">Code</option>
					<option value="3">Alpha</option>
					<option value="4">Bravo</option>
	
	</select>
 </div>

 <div class="form-group">
				 <button class="btn btn-alert btn-lg goosncf-search-button">Rechercher</button>

 </div>
				
				</form>

</div>
